html, body {
  background: url(../img/pattern.png);
  /*background: url(../img/bg.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-weight: normal;
}

h1 {
  font-size: 48pt;
}

p, a {
  font-family: 'Shadows Into Light', cursive;
}

hr {
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  opacity: 0.5;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  opacity: 0.5;
}

.container {
 width: 980px;
 margin: 0 auto;
}


.panel {
  background: url(../img/pattern_02.png);
  color: #333;
  border: 2px solid #333;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 15px black;
}
